
@using QRMenu.Areas.Admin.ViewModels
@model AddViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form method="POST" asp-route="admin-product-add" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlInput1">Adı:</label>
        <input class="form-control" id="exampleFormControlInput1" asp-for="@Model.Name">

        <label for="exampleFormControlInput1">Ətraflı Məlumat:</label>
        <input class="form-control" id="exampleFormControlInput1" asp-for="@Model.Description">

       @* <select class="form-select" aria-label="Default select example">
            <option selected>Kataloq Sec</option>
            @foreach (var item in Model.Categories)
            {
                <option value="1">@item.Name</option>
            }
           
          
        </select>*@
        <select asp-for="CategoryIds" asp-items="@(new SelectList(Model.Categories, nameof(CategoryViewModel.Id), nameof(CategoryViewModel.Name)))" class="form-select"> </select>


        <label for="exampleFormControlInput1">Qiyməti:</label>
        <input class="form-control" id="exampleFormControlInput1" asp-for="@Model.Price">

        <label for="exampleFormControlInput1">Image:</label>
        <input class="form-control" id="exampleFormControlInput1" asp-for="@Model.FileName">

    </div>

    <button type="submit" class="btn btn-primary">Tesdiqle</button>
</form>