@using QRMenu.Areas.Admin.ViewModels
@model List<AddViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-route="admin-product-add" class="btn btn-primary mt-5 mb-5">Yeni Yemək Əlavə et</a>

    <div class="display-flex">
        <div class="row">
        @foreach (var product in Model)
        {
          
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/@product.FileNameInSystem" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description <br> @product.Price Azn</p>
                   
                </div>
                <div>
                    <a class="btn btn-warning mb-2" asp-route="admin-product-update" asp-route-id="@product.Id">Düzəliş Et</a>
                    <form method="POST" asp-route="admin-product-delete" asp-route-id="@product.Id" id="blog-form-@product.Id"></form>
                    <button style="width:100%;" class="btn btn-danger" type="submit" form="blog-form-@product.Id">
                        sil
                    </button>
                </div>
            </div>
     
        }
    </div>
</div>

